<template>
  <div class="about">
    <v-container>
      <v-row class="align-content-center justify-center">
        <v-col cols="8">
          <div>
            <v-sheet width="100%" class="greyW reshettk" rounded="lg">
              <v-row>
                <v-col cols="8">
                  <v-row class="pa-5">
                    <v-col cols="12">
                      <span class="black--text font-weight-medium"
                        >( About )</span
                      >
                    </v-col>
                    <v-col cols="12">
                      <span class="black--text font-weight-medium"
                        >✦ Panuvit Suckchuai</span
                      >
                    </v-col>
                    <v-col cols="12">
                      <span class="black--text font-weight-medium"
                        >✦ Computer Engineer (CoE)</span
                      >
                    </v-col>
                    <v-col cols="12">
                      <span class="black--text font-weight-medium"
                        >✦ Prince of Songkla University</span
                      >
                    </v-col>
                    <v-col cols="12">
                      <span class="black--text font-weight-medium"
                        >✦ Birthdate: March 5, 2002</span
                      >
                    </v-col>
                  </v-row>
                </v-col>
                <!-- <v-col cols="4"
                  ><v-card width="280"
                    ><v-img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeO74Wf61GutnEyDOdroVrnIKgkmifF6bDhg&usqp=CAU"
                    ></v-img></v-card
                ></v-col> -->
              </v-row>
            </v-sheet>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.reshettk {
  height: 320px;
}

@media only screen and (max-width: 600px) {
  .reshettk {
    height: 700px;
  }
}
</style>
