<template>
  <div>
    <v-container>
      <div>
        <v-row no-gutters>
          <v-col cols="12">
            <div class="headimg">
              <v-img
                class="pink"
                src="https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg"
                width="100%"
                height="100%"
              >
              </v-img>
            </div>
          </v-col>
          <v-col cols="12">
            <div>
              <v-sheet class="grey-lighten-2" src="" width="100%" height="330">
                <div class="pa-2"></div>
                <div class="pa-16">
                  <v-row>
                    <v-col cols="12" sm="8">
                      <div
                        class="text-h4 font-weight-black black--text nametext"
                      >
                        Panuvit Suckchuai
                      </div>

                      <div
                        class="grey--text font-weight-medium nametext text-h6"
                      >
                        @panuvit19
                      </div>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="12">
                      <div class="grey--text font-weight-medium nametext">
                        <v-col cols="10">
                          <div>✦ James</div>
                          <div>✦ Computer Engineer (CoE)</div>
                          <div>✦ Prince of Songkla University</div>
                          <div>✦ Birthdate: March 5, 2002</div>
                        </v-col>
                      </div>
                    </v-col>
                  </v-row>

                  <!-- <v-row>
                    <v-col cols="12" sm="4"
                      ><div class="grey--text font-weight-medium nametext">
                        <v-icon color="grey">mdi-calendar</v-icon> วันเกิด 5
                        มีนาคม พ.ศ. 2545
                      </div>
                    </v-col>
                  </v-row> -->
                </div>
              </v-sheet>
            </div>
          </v-col>
          <v-col cols="12">
            <div><ProfileBar></ProfileBar></div>
          </v-col>
        </v-row>
      </div>

      <div class="absolute mx-14">
        <v-avatar color="white" size="180">
          <v-avatar color="black" size="170">
            <v-img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeO74Wf61GutnEyDOdroVrnIKgkmifF6bDhg&usqp=CAU"
            ></v-img>
          </v-avatar>
        </v-avatar>
      </div>
    </v-container>

    <router-view></router-view>
  </div>
</template>

<script>
import ProfileBar from "@/components/ProfileBar.vue";

export default {
  components: { ProfileBar },
  name: "ProfileView3",
};
</script>

<style>
.absolute {
  position: absolute;
  top: 350px;
}
.headimg {
  width: "100%";
  height: 450px;
}

.setheight {
  /* height: 800px; */
}

@media only screen and (max-width: 600px) {
  .absolute {
    top: 250px;
    left: 90px;
  }
  .nametext {
    display: flex;
    justify-content: center;
  }
  .headimg {
    height: 350px;
  }
  .normalimg {
    height: 200px;
  }
}
</style>
