<template>
  <div>
    <v-container>
      <v-btn @click="redirectSignout()"
        ><v-icon>mdi-logout</v-icon> sign out</v-btn
      >
    </v-container>
  </div>
</template>

<script>
export default {
  name: "SettingView",

  methods: {
    redirectSignout() {
      // redirect
      this.$cookies.remove("token");
      this.$router.push({ name: "signup" });
      return alert("signout");

      //   replcae
      //   this.$router.replace({ name: "signout" });
    },
  },
};
</script>

<style></style>
