<template>
  <div>
    <!-- <h1>This is carts</h1>
    <div>{{ getCarts }}</div> -->
    <v-container>
      <!-- <v-row> -->
      <!-- <v-col cols="12">
          <div class="bannerImg">
            <v-img src="" class="grey" width="100%" height="100%"
              >product banner</v-img
            >
          </div>
        </v-col> -->
      <!-- <v-col v-for="(item, index) in getCarts" :key="index" cols="6">
          <CardCart
            :image="item.image"
            :product_name="item.product_name"
            :amount="item.amount"
          ></CardCart>
        </v-col> -->
      <!-- <v-col cols="6">
          <div class="setwidth">
            <v-card width="100%" height="100%"> </v-card>
          </div>
        </v-col>
      </v-row> -->

      <div class="setgrid">
        <div class="white pa-10">
          <div v-if="getCarts.length == 0">ยังไม่มีสินค้าในตระกร้า</div>
          <div v-for="(item, index) in getCarts" :key="index">
            <v-divider></v-divider>
            <v-card class="ma-5" elevation="0">
              <v-row class="white">
                <v-col cols="4" class="justify-center align-content-center">
                  <v-card
                    style="
                      display: flex;
                      justify-content: center;
                      align-content: center;
                    "
                    color="orange"
                    elevation="0"
                  >
                    <v-img
                      width="200"
                      :src="item.image"
                      class="grey"
                      rounded="lg"
                    ></v-img>
                  </v-card>
                </v-col>
                <v-col cols="8">
                  <div class="text-h6">
                    {{ item.product_name }}
                  </div>
                  <div class="text-subtitle-1 grey--text">
                    id: {{ item.id }}
                  </div>
                  <div class="black--text">
                    จำนวน: {{ item.selectedAmount }}
                  </div>
                  <div class="black--text">ราคาต่อชิ้น: {{ item.price }}</div>
                  <div>
                    <v-col cols="2"
                      ><v-text-field
                        v-model="item.selectedAmount"
                      ></v-text-field>
                    </v-col>
                  </div>
                </v-col>
              </v-row>
            </v-card>
            <!-- <CardCart
              :image="item.image"
              :product_name="item.product_name"
              :selected-amount="item.selectedAmount"
              :id="item.id"
            ></CardCart> -->

            <v-divider></v-divider>
          </div>
        </div>
        <div class="white pa-10">
          <div>
            <v-card class="ma-5 pa-10" elevation="1" color="white">
              <v-row>
                <v-col cols="12" class="text-h6">ชำระสินค้า</v-col>
                <v-col
                  cols="12"
                  class="text-subtitle-1"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-content: space-between;
                  "
                  ><span>ราคาทั้งหมด</span
                  ><span>{{ getSummary }} บาท</span></v-col
                >
                <v-col
                  cols="12"
                  class="text-subtitle-1"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-content: space-between;
                  "
                >
                  <span>ค่าส่ง</span>
                  <span class="orange--text">ฟรีค่าจัดส่ง</span>
                </v-col>
                <v-col
                  cols="12"
                  class="text-subtitle-1"
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-content: space-between;
                  "
                  ><span>ทั้งหมด</span> <span>{{ getSummary }} บาท</span></v-col
                >
                <br /><br /><br /><br /><br />
                <v-btn
                  :class="{
                    'disabled-button': getCarts.length === 0,
                  }"
                  :disabled="getCarts.length === 0"
                  class="black white--text"
                  block
                  @click="clicktoorder"
                  ><v-icon> mdi-cash-sync </v-icon> &nbsp;ชำระ</v-btn
                >
              </v-row>
            </v-card>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
// import CardCart from "@/components/CardCart.vue";
export default {
  name: "CartView",
  // components: { CardCart },
  computed: {
    getCarts() {
      return this.$store.state.carts;
    },

    getSummary() {
      return this.$store.getters.getSummary;
    },
  },

  mounted() {
    window.addEventListener("resize", this.handleWindowSizeChange);
    console.log("Carts", this.$store.state.carts.length);
  },
  data() {
    return {};
  },
  methods: {
    async clicktoorder() {
      // const { id, selectedAmount } = this.getCarts;
      const cartItem = this.getCarts;
      // const data = JSON.stringify(this.getCarts);

      const mapData = cartItem.map((data) => ({
        product: data.id,
        quantity: data.selectedAmount,
      }));

      const result = { products: mapData };

      console.log(result);

      this.placeOrder(result);
    },
    async placeOrder(data) {
      console.log("sss" + JSON.stringify(data));
      // const trueData = JSON.stringify(data);
      const config = {
        headers: { Authorization: `Bearer ${this.$cookies.get("token")}` },
        "Content-Type": "application/json",
      };
      try {
        const response = await this.axios.post(
          `http://localhost:3000/orders`,
          data,
          config
        );

        if (response.data.status === 201) {
          this.$store.dispatch("removeCarts", []);
          return alert("สั่งซื้อสินค้าเสร็จสิ้น");
        }

        // console.log(response);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
.setwidth {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.setgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
</style>
