<template>
  <div>
    <v-container>
      Admin -> all user
      <div>{{ usersData }}</div></v-container
    >
  </div>
</template>

<script>
export default {
  name: "AdminView",
  data() {
    return { usersData: [] };
  },
  created() {
    this.fetchuser();
    if (!this.$cookies.get("role").includes("admin")) {
      alert("Dont have admin role !!");
      this.$router.replace({ name: "signup" });
    }
  },
  mounted() {},
  computed: {},
  methods: {
    async fetchuser() {
      const token = this.$cookies.get("token");
      const config = {
        headers: { Authorization: `Bearer ${token}` },
      };
      try {
        const response = await this.axios.get(
          `http://localhost:3000/users`,
          config
        );
        this.usersData = response.data;
        console.log(response.data);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style></style>
