<template>
  <div>
    <v-container
      ><h1>API DATA</h1>
      <!-- {{ savemode }} -->
      <!-- <h2>{{ apidata }}</h2> -->
      <!-- <v-btn @click="getData()">click</v-btn> -->
      <!-- {{ savemode }} -->
      <v-btn @click="newItem()">add product</v-btn>
      <v-row class="mt-16">
        <v-col cols="2" v-for="(item, index) in apidata" :key="index">
          <v-card width="200" height="250">
            <v-row>
              <v-col
                cols="12"
                class="d-flex justify-center align-content-center"
              >
                <div style="width: 100px; height: 100px">
                  <v-img
                    :src="item.image"
                    width="100%"
                    height="100%"
                    class="d-flex justify-center align-content-center"
                  ></v-img>
                </div>
              </v-col>
              <v-col
                cols="12"
                class="d-flex justify-center align-content-center mt-5"
              >
                <div class="text-h6">
                  {{ item.category }}
                </div>
              </v-col>
            </v-row>

            <v-card-actions>
              <v-btn color="primary" @click="editItem(item)">EditItem</v-btn>
              <v-btn color="error" @click="saveDelete(item)">Remove</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-dialog v-model="dialogedit" max-width="500">
        <v-card>
          <v-card-title>Product</v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field label="title" v-model="postdata.title">
                </v-text-field>
                <v-text-field label="price" v-model="postdata.price">
                </v-text-field>
                <v-text-field
                  label="description"
                  v-model="postdata.description"
                >
                </v-text-field>
                <v-text-field label="category" v-model="postdata.category">
                </v-text-field>
                <!-- <v-text-field
                  label="product name"
                  v-model="fortestdata.product_name"
                >
                </v-text-field>
                <v-text-field label="price" v-model="fortestdata.price">
                </v-text-field>
                <v-text-field label="amount" v-model="fortestdata.amount">
                </v-text-field> -->
              </v-col>
            </v-row>
          </v-card-text>
          <div class="d-flex justify-end align-end">
            <v-card-actions>
              <v-btn color="primary" @click="saveSelect()">save</v-btn>
              <v-btn color="error" @click="closeData()">cancle</v-btn>
            </v-card-actions>
          </div>
        </v-card>
      </v-dialog></v-container
    >
  </div>
</template>

<script>
export default {
  name: "ApiCon",
  data() {
    return {
      id: "",
      dialogedit: false,
      apidata: [],
      BASEURL: `http://localhost:3000`,
      postdata: {
        title: "",
        price: 0.0,
        description: "",
        image: "https://i.pravatar.cc",
        category: "",
      },
      postdefault: {
        title: "",
        price: 0.0,
        description: "",
        image: "https://i.pravatar.cc",
        category: "",
      },
      token:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjQyZGRjYTM2NjczYWQ4NWFmMzRkMmQiLCJ1c2VybmFtZSI6IkthcmVuOCIsInJvbGUiOlsidXNlciJdLCJzdGF0dXMiOiJBUFBST1ZFIiwiaWF0IjoxNzE1NjcyNTI0LCJleHAiOjE3MTU3NTg5MjR9.8xPyoT8pZjg_EyoU0Z8JLyFaEHMbjwUB0Jj9xUywmSA",
      fortestdata: {
        product_name: "",
        price: 0,
        amount: 0,
      },
    };
  },
  created() {
    // ตอนสร้างหน้าเว็บ
    this.getData();
  },
  computed: {
    savemode() {
      return this.id === "" ? "NewItem" : "EditItem";
    },
  },
  mounted() {
    console.log("ss");
    // this.getData();
    // savemode: {
    //   return this.id == "" ? "NewItem" : "EditItem";
    // }
  },

  methods: {
    getData() {
      this.axios.get("https://fakestoreapi.com/products").then((response) => {
        console.log(response.data);
        this.apidata = response.data;
      });
    },

    alerz() {
      console.log("ks");
    },

    newItem() {
      this.id, (this.postdata = { ...this.postdefault });
      this.dialogedit = true;
    },
    editItem(item) {
      this.id = item.id;
      this.postdata = item;
      this.dialogedit = true;
    },
    closeData() {
      this.id = "";
      this.postdata = { ...this.postdefault };
      this.dialogedit = false;
    },
    saveSelect() {
      if (this.id != "") {
        this.putData(this.id);
        // alert("put" + this.id);
      } else {
        // alert("post");
        this.postData();
      }
    },
    async putData(id) {
      const response = await this.axios.put(
        `https://fakestoreapi.com/products/${id}`,
        this.putdata
      );

      if (response.data) {
        alert("Product successful" + response.status + response.data);
      } else {
        alert("Cant create");
      }
      console.log(response);
    },
    async postData() {
      // console.log(this.postdata.category);
      // const config = {
      //   headers: { Authorization: `Bearer ${this.token}` },
      // };
      const response = await this.axios.post(
        "https://fakestoreapi.com/products",
        // "http://localhost:3000/products/",
        this.postdata
        // { product_name: "iPhone 13 Pro Max", price: 25000, amount: 20 },
        // this.fortestdata,
        // config
      );

      if (response.data) {
        alert(
          `Create Product successful + data Title:  ${response.data.title}`
        );
      } else {
        alert("Cant create");
      }
      console.log(response);
    },
    async saveDelete(item) {
      try {
        if (confirm("delete it")) {
          const response = await this.axios.delete(
            `https://fakestoreapi.com/products/${item.id}`
          );

          if (response.data) {
            alert(
              `Delete successful ${response.data.id}: ${response.data.title}`
            );
          } else {
            alert("Cant delete");
          }
        }
      } catch (error) {
        console.log(error);
        alert(error);
      }
    },
  },
};
</script>

<style></style>
