<template>
  <div>
    <v-container>
      <v-row v-if="getProduct && getProduct.data">
        <v-col cols="12" sm="4">
          <div class="productDetailimg">
            <v-card>
              <v-img :src="getProduct.data.image"></v-img>
            </v-card>
          </div>
        </v-col>
        <v-col cols="12" sm="8">
          <div>
            <v-card class="productText pa-5" elevation="0">
              <v-row>
                ชื่อสินค้า:
                <v-col cols="12" class="">
                  <v-text-field
                    class="text-h6"
                    v-model="getProduct.data.product_name"
                    >{{
                  }}</v-text-field>
                </v-col>
                <v-col cols="12">
                  ราคา:
                  <v-text-field
                    class="text-h6 green--text"
                    v-model="getProduct.data.price"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12"
                  >จำนวนในคลัง:
                  <v-text-field
                    class="text-h6 green--text"
                    v-model="getProduct.data.amount"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-btn color="primary" @click="updateProduct()">แก้ไข </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "EditProductView",
  data() {
    return {
      productSelected: {
        id: this.$route.params.id,
        selectedAmount: Number(0),
        image: "",
        product_name: "",
        price: Number(0),
      },
      id: this.$route.params.id,
      payload: {
        id: this.$route.params.id,
        product_name: "",
        price: Number(0),
        amount: Number(0),
      },
    };
  },
  mounted() {
    const token = this.$cookies.get("token");
    const id = this.$route.params.id;
    // console.log("kkkkk");
    // console.log(token);
    // console.log(id);
    this.$store.dispatch("fetchSelectedProduct", { id, token });
  },
  computed: {
    getProduct() {
      console.log("<===>");
      return this.$store.state.selectedProduct;
    },
  },
  methods: {
    async updateProduct() {
      try {
        const { product_name, price, amount } = this.getProduct.data;

        // console.log(this.productSelected.id + product_name + price + amount);

        const paylod = { product_name, price, amount };
        const config = {
          headers: { Authorization: `Bearer ${this.$cookies.get("token")}` },
          "Content-Type": "application/json",
        };

        const response = await this.axios.patch(
          `http://localhost:3000/products/${this.id}`,
          paylod,
          config
        );

        if (response.data.status === 200) {
          return alert("อัพเดทเสร็จแล้ว");
        }

        console.log(paylod);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.productDetailimg {
  width: 100%;
  height: 100%;
}
.productText {
  width: 100%;
  height: 100%;
}
</style>
