<template>
  <div>
    <v-container>
      <div class="ma-14 pa-5">
        <v-row class="justify-center align-center">
          <v-col cols="12">
            <v-row class="justify-center">
              <div class="justify-center align-content-center">
                <div>A 80 - 100</div>
                <div>B 70 - 79</div>
                <div>C 60 - 69</div>
                <div>D 50 - 59</div>
                <div>E &nbsp;&nbsp;0 - 49</div>
              </div>
            </v-row>
          </v-col>
          <v-col cols="12">Enter your score: {{ grade }}</v-col>
          <v-col cols="12">
            <v-text-field v-model="grade"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-btn block @click="calGrade(grade)">send</v-btn>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "GradeView",
  data() {
    return {
      grade: Number(0),
    };
  },
  methods: {
    calGrade(score) {
      console.log(this.grade);
      score = Number(score);
      if (score < 0) {
        alert("score < 0");
      }

      if (score > 80) {
        alert("score A");
      } else if (score >= 70 && score <= 79) {
        alert("score B");
      } else if (score >= 60 && score <= 69) {
        alert("score C");
      } else if (score >= 50 && score <= 69) {
        alert("score D");
      } else if (score >= 0 && score <= 49) {
        alert("score E");
      } else {
        alert("not score");
      }
    },
  },
};
</script>

<style></style>
