<template>
  <!-- <div>
    <hello-world />
    {{ getUser }}
  </div> -->

  <div>
    <v-container>
      <div>
        <v-row gutters>
          <v-col cols="12">
            <div class="bannerImg">
              <v-img
                src="https://t4.ftcdn.net/jpg/04/08/53/87/360_F_408538711_ZJijVMV2KVMd7A4lTTROvlGeoFH0chL1.jpg"
                class="grey"
                width="100%"
                height="100%"
              ></v-img>
            </div>
          </v-col>
          <!-- show icon navigate -->
          <v-col cols="12">
            <div class="navigateIcon">
              <v-sheet
                class="s resheet"
                src=""
                width="100%"
                style="background-color: white"
              >
                <v-row class="pa-6 mx-10 justify-center align-content-center">
                  <v-col
                    cols="6"
                    v-for="(item, index) in navigateicon"
                    :key="index"
                    class="d-flex flex-column align-center"
                    sm="2"
                  >
                    <v-btn
                      depressed
                      elevation="2"
                      icon
                      x-large
                      style="background-color: white"
                    >
                      <div>
                        <v-icon :color="item.color">{{ item.icon }}</v-icon>
                      </div>
                    </v-btn>
                    <div class="text-center mt-2">{{ item.name }}</div>
                  </v-col>
                </v-row>
              </v-sheet>
            </div>
          </v-col>
          <!-- product shelf -->
          <v-col
            cols="4"
            v-for="(item, index) in getProduct.data"
            :key="index"
            sm="2"
            ><ProductCardVue
              :image="item.image"
              :product_name="item.product_name"
              :price="item.price"
              :id="item._id"
              @goProductDetail="goProductDetail"
            />
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
import ProductCardVue from "@/components/ProductCard.vue";
// import HelloWorld from "../components/HelloWorld";

export default {
  name: "HomeView",

  data() {
    return {
      navigateicon: [
        {
          name: "Trust",
          icon: "mdi-check-decagram",
          pathName: "",
          color: "green",
        },
        {
          name: "flash-sale",
          icon: "mdi-flash",
          pathName: "",
          color: "yellow",
        },
        {
          name: "discount",
          icon: "mdi-sale",
          pathName: "",
          color: "red",
        },
      ],
    };
  },
  components: {
    // HelloWorld,
    ProductCardVue,
  },
  // created() {
  //   this.getProduct;
  // },
  mounted() {
    const token = this.$cookies.get("token");
    this.$store.dispatch("fetchProducts", token);
    console.log(this.getProduct);
  },
  computed: {
    getProduct() {
      console.log("==");
      return this.$store.state.products;
    },
  },
  methods: {
    goProductDetail(id) {
      this.$router.push({ name: "productdetail", params: { id } });
    },
  },
};
</script>

<style>
.bannerImg {
  width: "100%";
  height: 450px;
}
.navigateIcon {
  width: "100%";
  height: "250";
}

.resheet {
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .resheet {
    height: 276px;
  }
}
</style>
