<template>
  <div>
    <AppBar> </AppBar>
    <!-- {{ windowWidth }} -->

    <!-- <SideNav v-if="windowWidth >= Number(1260)"></SideNav> -->
    <Drawer v-if="windowWidth >= Number(1260)"></Drawer>

    <router-view />
    <div v-for="(item, index) in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" :key="index">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <Footer> </Footer>
    <Navbar v-if="windowWidth < 1260"></Navbar>
  </div>
</template>

<script>
import AppBar from "@/layout/AppBar.vue";
// import SideNav from "@/layout/SideNav.vue";
import Footer from "@/components/Footer.vue";
import Navbar from "@/layout/Navbar.vue";
import Drawer from "@/layout/Drawer.vue";
export default {
  name: "LayoutView",
  components: {
    AppBar,
    // SideNav,
    Footer,
    Navbar,
    Drawer,
  },
  created() {
    this.checkToken();
  },

  mounted() {
    window.addEventListener("resize", this.handleWindowSizeChange);
    console.log("Carts", this.$store.state.carts.length);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.handleWindowSizeChange);
  },
  computed: {
    getCarts() {
      return this.$store.state.carts;
    },
  },

  watch: {},

  data: () => ({
    windowWidth: window.innerWidth,
    windowHeight: window.innerHeight,
  }),
  methods: {
    handleWindowSizeChange() {
      this.windowWidth = window.innerWidth;
      this.windowHeight = window.innerHeight;
    },
    checkToken() {
      const token = this.$cookies.get("token");
      console.log(token);
      if (!token) {
        this.$router.replace({ name: "signup" });
      }
    },
  },
};
</script>

<style></style>
