<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-btn @click="openDialog()" color="primary">เพิ่มสินค้า</v-btn>
        </v-col>
        <v-col cols="12">สินค้าที่ได้เพิ่มไปแล้ว</v-col>
        <v-col
          cols="4"
          v-for="(item, index) in getUserProducts.data"
          :key="index"
          sm="2"
        >
          <EditProduct
            :image="item.image"
            :product_name="item.product_name"
            :price="item.price"
            :id="item._id"
            @editProduct="editProduct"
          ></EditProduct>
        </v-col>
      </v-row>

      <v-dialog v-model="dialog" max-width="500">
        <v-card>
          <v-card-title>เพิ่มสินค้า</v-card-title>
          <v-card-text>
            <v-text-field label="ชื่อสินค้า" v-model="payload.product_name">
            </v-text-field>
            <v-text-field label="ราคา" v-model="payload.price"> </v-text-field>
            <v-text-field label="จำนวน" v-model="payload.amount">
            </v-text-field>
          </v-card-text>
          <div class="d-flex justify-end align-end">
            <v-card-actions>
              <v-btn color="primary" @click="addProduct()">เพิ่มสินค้า</v-btn>
              <v-btn color="error" @click="openDialog()">ยกเลิก</v-btn>
            </v-card-actions>
          </div>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
import EditProduct from "@/components/EditProduct.vue";
export default {
  name: "ManageproductView",

  data() {
    return {
      dialog: false,
      payload: {
        product_name: "",
        price: Number(0),
        amount: "",
      },
    };
  },
  components: {
    EditProduct,
  },
  mounted() {
    console.log(";;;ss");
    const token = this.$cookies.get("token");
    console.log(token);
    this.$store.dispatch("fetchuserproducts", token);
    console.log(this.getUserProducts.data);
    // this.$store.state.userProducts;
  },
  computed: {
    getUserProducts() {
      return this.$store.state.userProducts;
    },
  },
  methods: {
    async addProduct() {
      // this.dialog = true;
      console.log(this.payload.amount);
      const config = {
        headers: { Authorization: `Bearer ${this.$cookies.get("token")}` },
        "Content-Type": "application/json",
      };
      try {
        const response = await this.axios.post(
          `http://localhost:3000/products`,
          this.payload,
          config
        );
        console.log(response);

        if (response.data.status === 201) {
          this.dialog = false;
          return alert("เพิ่มสินค้าสำเร็จ");
        }
      } catch (error) {
        console.log(error);
      }
    },
    openDialog() {
      this.dialog = !this.dialog;
    },
    editProduct(id) {
      this.$router.push({ name: "editproduct", params: { id } });
    },
  },
};
</script>

<style></style>
