<template>
  <div>
    <!-- <h1>Hello I'm Panuvit</h1>
      <h2>{{ show }}</h2>
      <div class="test">
        <v-btn @click="changeBool()">Clik</v-btn>
        <v-btn @click="displayAl()">Click to show alert</v-btn>
      </div>
  
      <h1 v-if="show">Hello World</h1> -->
    <div class="container">
      <div v-for="item in sampleData" :key="item">
        <!-- {{ index.name }} -->
        <!-- <v-card width="320">
            <v-img height="200px" :src="item.img" />
            <v-card-title>{{ item.name }}</v-card-title>
            <v-card-text>{{ item.desc }}</v-card-text>
          </v-card> -->
        <MovieCard
          :name="item.name"
          :img="item.img"
          :desc="item.desc"
        ></MovieCard>
      </div>
    </div>

    <div>
      <v-btn @click="changeBool()">Clik To Show Something</v-btn>
      <div v-if="show" style="padding: 10px">
        <MeCard
          :profileImg="'https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg'"
          :firstname="'Panuvit'"
          :university="'Prince of Songkla university'"
        ></MeCard>
      </div>
    </div>

    <div>
      <CardImg />
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  name: "MeView",
  data() {
    return {
      show: false,
      name: "Hello",
      sampleData: [
        {
          name: "Spiderman",
          desc: "Loremm Eiusmod aute reprehenderit deserunt occaecat in.",
          img: "https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg",
        },
        {
          name: "Hello",
          desc: "Loremm Eiusmod aute reprehenderit deserunt occaecat in.",
          img: "https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg",
        },
        {
          name: "Hello",
          desc: "Loremm Eiusmod aute reprehenderit deserunt occaecat in.",
          img: "https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg",
        },
      ],
    };
  },
  methods: {
    changeBool() {
      this.show = !this.show;
    },
    displayAl() {
      alert("This is alert :)");
    },
  },
};
</script>

<style>
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 320;
  margin: 0 auto;
  /* background-color: pink; */
}
</style>
