<template>
  <div>
    <v-container>
      <h1>My Order</h1>
      <div>{{ orderData }}</div></v-container
    >
  </div>
</template>

<script>
export default {
  name: "MyorderVue",
  data() {
    return { orderData: [] };
  },
  created() {
    this.fetchorders();
  },
  mounted() {},
  computed: {},
  methods: {
    async fetchorders() {
      const token = this.$cookies.get("token");
      const config = {
        headers: { Authorization: `Bearer ${token}` },
      };
      try {
        const response = await this.axios.get(
          `http://localhost:3000/orders`,
          config
        );
        this.orderData = response.data;
        console.log(response.data);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style></style>
