<template>
  <div>
    <!-- Product detail
    {{ getProduct.data }} -->
    <v-container class="">
      <v-row v-if="getProduct && getProduct.data">
        <v-col cols="12" sm="4">
          <div class="productDetailimg">
            <v-card>
              <v-img :src="getProduct.data.image"></v-img>
            </v-card>
          </div>
        </v-col>
        <v-col cols="12" sm="8">
          <div>
            <v-card class="productText pa-5" elevation="0">
              <v-row>
                <v-col cols="12" class="">
                  <span class="text-h6">{{
                    getProduct.data.product_name
                  }}</span>
                </v-col>
                <v-col cols="12" class="">
                  <span class="text-subtitle-2">
                    ยังไม่มีคะแนน |
                    <span class="">{{ countOrdered }}</span> ขายแล้ว</span
                  >
                </v-col>
                <v-col cols="12">
                  <span class="text-h4 green--text">
                    {{ setSeparatePrice }} THB
                  </span>
                </v-col>
                <v-col cols="12">
                  <span class="text-subtitle-2 grey--text"
                    ><CodeHover></CodeHover>
                  </span>
                </v-col>
                <v-col cols="12">
                  <span class="text-subtitle-2 grey--text"
                    >Bundle deal: none
                  </span>
                </v-col>
                <v-col cols="12">
                  <span class="text-subtitle-2 grey--text"
                    ><v-icon>mdi-truck-delivery</v-icon> การจัดส่ง
                    <span class="orange--text">ฟรี</span>
                  </span>
                </v-col>
                <v-col cols="12"
                  >จำนวนในคลัง: {{ getProduct.data.amount }}</v-col
                >
                <br /><br /><br />
                <v-col cols="2">
                  <v-text-field
                    v-model="productSelected.selectedAmount"
                    label="ป้อนจำนวนสินค้า"
                    filled
                    dense
                    rounded
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-col cols="2">
                <v-btn
                  :class="{
                    'disabled-button': getProduct.data.amount === 0,
                  }"
                  :disabled="getProduct.data.amount === 0"
                  class="black white--text"
                  @click="addProductToSomething()"
                  ><span>
                    {{
                      getProduct.data.amount === 0
                        ? "สินค้าหมด"
                        : "เพิ่มไปยังตระกร้า"
                    }}
                  </span>
                </v-btn>
              </v-col>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import CodeHover from "@/components/Codehover.vue";
export default {
  name: "ProductdetailView",
  components: { CodeHover },
  data() {
    return {
      productSelected: {
        id: this.$route.params.id,
        selectedAmount: Number(0),
        image: "",
        product_name: "",
        price: Number(0),
      },
    };
  },
  created() {},
  mounted() {
    const token = this.$cookies.get("token");
    const id = this.$route.params.id;
    // console.log("kkkkk");
    // console.log(token);
    // console.log(id);
    this.$store.dispatch("fetchSelectedProduct", { id, token });
  },
  computed: {
    getProduct() {
      console.log("<===>");
      return this.$store.state.selectedProduct;
    },

    setSeparatePrice() {
      const price = this.getProduct.data.price;
      const formattedPrice = price.toLocaleString();
      return formattedPrice;
    },

    countOrdered() {
      const order = this.getProduct.data.orders;

      return order.length;
    },
  },
  methods: {
    addProductToSomething() {
      if (this.productSelected.selectedAmount > this.getProduct.data.amount) {
        return alert("จำนวนสินค้าที่ป้อนมากกว่าในคลัง");
      }
      if (this.productSelected.selectedAmount === 0) {
        return alert("ป้อนสินค้าอย่างน้อย 1 ชิ้น");
      }
      this.productSelected.product_name = this.getProduct.data.product_name;
      this.productSelected.image = this.getProduct.data.image;
      this.productSelected.price = this.getProduct.data.price;
      this.$store.dispatch("addtoCarts", this.productSelected);

      // alert(JSON.stringify(this.productSelected));
      alert("เพิ่มสินค้าไปยังตระกร้าเรียบร้อย");
    },
  },
};
</script>

<style scoped>
.productDetailimg {
  width: 100%;
  height: 100%;
}
.productText {
  width: 100%;
  height: 100%;
}
</style>
