<template>
  <div>
    <h1>Simple Page</h1>
    <h1>{{ name }}</h1>
    <h1 v-if="show">{{ name }}</h1>
    <v-btn color="success" @click="show = !show">switch</v-btn>
    <CardCompo></CardCompo>
    <div></div>

    <Popover></Popover>
    <v-btn @click="callAlert">call alert</v-btn>
    <v-col cols="12">
      <SimpleCom :name="name" :hell="'GGGG'" @callAlert="callAlert"></SimpleCom
    ></v-col>

    <v-col><v-btn @click="callSim">call sim</v-btn></v-col>
  </div>
</template>

<script>
import Popover from "@/components/Popover.vue";
import CardCompo from "@/components/CardCom.vue";
import SimpleCom from "@/components/SimpleComponent.vue";
import { EventBus } from "@/EventBus";
export default {
  name: "SimpleView",
  data() {
    return {
      name: "Panuvit",
      show: false,
      catList: [
        { name: "", img: "" },
        { name: "", img: "" },
      ],
    };
  },
  components: { Popover, CardCompo, SimpleCom },
  methods: {
    callAlert() {
      alert("BRRRRRRR");
    },
    callSim() {
      EventBus.$emit("SimComAlert");
    },
  },
  mounted() {
    EventBus.$on("MainCallAlert", this.callAlert);
  },
};
</script>

<style></style>
