<template>
  <div>
    <v-container>
      <v-row>
        <v-col v-for="(item, index) in game" :key="index" cols="6" sm="2">
          <v-img class="normalimg" :src="item.img"> </v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import game from "@/mockdata/game";
export default {
  name: "SongView",

  data() {
    return {
      game,
    };
  },
};
</script>

<style>
.normalimg {
  height: 300px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .normalimg {
    height: 200px;
  }
}
</style>
