<template>
  <div>
    <v-container>
      <v-row>
        <v-col v-for="(item, index) in song" :key="index" cols="6" sm="2">
          <v-img class="normalimg" :src="item.img"> </v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import song from "@/mockdata/song";
export default {
  name: "SongView",

  data() {
    return {
      song,
    };
  },
};
</script>

<style></style>
