<template>
  <div>
    <v-container>
      <v-row>
        <v-col v-for="(item, index) in team" :key="index" cols="6" sm="2">
          <v-img class="normalimg" :src="item.img"> </v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import team from "@/mockdata/team";
export default {
  name: "TeamView",
  data() {
    return {
      team,
    };
  },

  mounted() {
    console.log("HobbyView component rendered");
  },
};
</script>

<style></style>
