<template>
  <v-card class="ma-5" elevation="0">
    <v-row class="white">
      <v-col cols="4" class="justify-center align-content-center">
        <v-card
          style="display: flex; justify-content: center; align-content: center"
          color="orange"
          elevation="0"
        >
          <v-img width="200" :src="image" class="grey" rounded="lg"></v-img>
        </v-card>
      </v-col>
      <v-col cols="8">
        <div class="text-h6">
          {{ product_name }}
        </div>
        <div class="text-subtitle-1 grey--text">id: {{ id }}</div>
        <div class="black--text">จำนวน: {{ selectedAmount }}</div>
        <div>
          <v-col cols="2" v-bind="selectedAmount"
            ><v-text-field></v-text-field>
          </v-col>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "CardCart",
  props: ["image", "product_name", "selectedAmount", "id"],
};
</script>

<style></style>
