<template>
  <v-hover v-slot="{ hover }">
    <span class="text-subtitle-2 grey--text">
      <v-expand-transition>
        <div
          v-if="hover"
          class="d-flex transition-fast-in-fast-out white darken-2 v-card--reveal text-h2 black--text text-subtitle-2 justify-center align-center outline"
        >
          <span class="justify-center align-content-center">ยังไม่มี</span>
        </div>
      </v-expand-transition>
      โค็ดส่วนลด
    </span>
  </v-hover>
</template>

<script>
export default {
  name: "CodeHover",
};
</script>

<style>
.v-card--reveal {
  align-items: start;
  justify-content: start;
  position: absolute;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.outline {
  outline: 1px solid rgb(209, 209, 209); /* Outline style */
}
</style>
