<template>
  <div>
    <v-card width="300" link @click="openEdit()">
      <v-img class="white--text align-end resProductImg" :src="image">
        <!-- <v-card-title>Top 10 Australian beaches</v-card-title> -->
      </v-img>

      <v-card-subtitle class="text-subtitle-2 product-name">
        {{ product_name }}
      </v-card-subtitle>

      <v-card-text class="text--primary">
        <div class="d-flex justify-end align-content-endtext-body-1">
          {{ price }} THB
        </div>

        <div class="d-flex justify-end align-content-end">
          <v-icon>mdi-truck-delivery</v-icon>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "EditProduct",
  props: ["image", "product_name", "price", "onClick", "id"],
  components: {},
  methods: {
    openEdit() {
      console.log(this.id);
      this.$emit("editProduct", this.id);
    },
  },
};
</script>

<style></style>
