<template>
  <div>
    <v-container>
      <v-footer class="d-flex flex-column">
        <div class="px-4 py-2 bg-black text-center w-100">
          <strong>This is Footer</strong>
        </div></v-footer
      ></v-container
    >
  </div>
</template>

<script>
export default {
  name: "FooterView",
};
</script>

<style></style>
