<template>
  <div>
    <div class="text-center">
      <v-menu top :offset-x="offset">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            elevation="0"
            fab
            icon
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            <v-icon color="white" size="32px">mdi-cog-outline</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="(item, index) in items" :key="index">
            <router-link
              :to="{ name: item.pathName }"
              style="text-decoration: none; color: inherit"
              active-class=""
            >
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </router-link>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopOver",
  data: () => ({
    items: [{ title: "signout", pathName: "signup" }],
    offset: true,
  }),
};
</script>

<style></style>
