<template>
  <div>
    <v-card width="300" link @click="openProductDetail()">
      <v-img class="white--text align-end resProductImg" :src="image">
        <!-- <v-card-title>Top 10 Australian beaches</v-card-title> -->
      </v-img>

      <v-card-subtitle class="text-subtitle-2 product-name">
        {{ product_name }}
      </v-card-subtitle>

      <v-card-text class="text--primary">
        <div class="d-flex justify-end align-content-endtext-body-1">
          {{ price }} THB
        </div>

        <div class="d-flex justify-end align-content-end">
          <v-icon>mdi-truck-delivery</v-icon>
        </div>
        <!-- <v-row class="justify-end align-content-end">
          <v-col cols="4">
            <v-icon>mdi-truck-delivery</v-icon>
            &nbsp;
          </v-col></v-row> -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "ProductCard",
  props: ["image", "product_name", "price", "onClick", "id"],
  components: {},
  data() {
    return {
      openProduct: false,
    };
  },
  methods: {
    openProductDrawer() {
      this.openProduct = !this.openProduct;
      console.log(this.openProduct);
    },
    openProductDetail() {
      console.log(this.id);
      this.$emit("goProductDetail", this.id);
    },
  },
};
</script>

<style>
.product-name {
  height: 50px; /* Set a fixed height for the product name */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-price {
  margin-top: 10px;
  font-weight: bold;
}

.resProductImg {
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .resProductImg {
    height: 150px;
  }
}
</style>
