<template>
  <div>
    <v-dialog :v-model="drawerInt" max-width="500">
      <v-card> <v-card-title>Product</v-card-title></v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "ProductModal",
  props: ["drawerInt"],
  data() {
    return { dialogedit: true };
  },
};
</script>

<style></style>
