<template>
  <div>
    <v-app-bar elevation="0" color="white">
      <v-row class="justify-center">
        <v-col cols="3">
          <router-link
            :to="{ path: '/profile' }"
            style="text-decoration: none; color: inherit"
          >
            <v-btn
              @click="setTextbtn('about')"
              block
              variant="text"
              elevation="0"
              :color="path === '/profile' ? 'grey' : 'white'"
              :style="{
                color: path === '/profile' ? 'white' : 'inherit',
                fontWeight: path === '/profile' ? 'bold' : 'normal',
              }"
              >about
            </v-btn>
          </router-link>
        </v-col>
        <v-col cols="3">
          <router-link
            :to="{ name: 'team' }"
            style="text-decoration: none; color: inherit"
          >
            <v-btn
              @click="setTextbtn('team')"
              block
              variant="text"
              elevation="0"
              :color="path === '/profile/team' ? 'grey' : 'white'"
              :style="{
                color: path === '/profile/team' ? 'white' : 'inherit',
                fontWeight: path === '/profile/team' ? 'bold' : 'normal',
              }"
              >Team
            </v-btn>
          </router-link>
        </v-col>
        <v-col cols="3">
          <router-link
            :to="{ name: 'song' }"
            style="text-decoration: none; color: inherit"
          >
            <v-btn
              @click="setTextbtn('song')"
              block
              variant="text"
              elevation="0"
              :color="path === '/profile/song' ? 'grey' : 'white'"
              :style="{
                color: path === '/profile/song' ? 'white' : 'inherit',
                fontWeight: path === '/profile/song' ? 'bold' : 'normal',
              }"
              >Song
            </v-btn>
          </router-link>
        </v-col>
        <v-col cols="3">
          <router-link
            :to="{ name: 'game' }"
            style="text-decoration: none; color: inherit"
          >
            <v-btn
              @click="setTextbtn('game')"
              block
              variant="text"
              elevation="0"
              :color="path === '/profile/game' ? 'grey' : 'white'"
              :style="{
                color: path === '/profile/game' ? 'white' : 'inherit',
                fontWeight: path === '/profile/game' ? 'bold' : 'normal',
              }"
              >Game
            </v-btn>
          </router-link>
        </v-col>
      </v-row>
    </v-app-bar>
  </div>
</template>

<script>
// import { RouterLink } from "vue-router";

export default {
  name: "ProfileBar",

  mounted() {
    console.log(`Pro`);
    console.log("Current path:", this.$route.path);
    this.updatePath();
  },
  data() {
    return {
      onBtn: Boolean,
      path: "",
      setText: "about",
    };
  },

  methods: {
    setTextbtn(text) {
      this.setText = text;
    },

    updatePath() {
      this.path = this.$route.path;
    },
  },

  watch: {
    $route() {
      this.updatePath();
    },
  },
};
</script>

<style></style>
