<template>
  <div>
    <h1>Simple Component Zones</h1>
    <div>Hello {{ name }} {{ hell }}</div>

    <v-btn color="success" @click="callMain()">callMain</v-btn>
  </div>
</template>

<script>
import { EventBus } from "@/EventBus";
export default {
  name: "SimpleCompo",
  props: ["name", "hell"],
  methods: {
    callMain() {
      console.log("ll");
      console.log(this.$emit("callAlert"));
      // this.$emit("callAlert");
      EventBus.$emit("MainCalAlert");
    },
    SimComAlert() {
      alert("AZZZZZZ");
    },
  },
  mounted() {
    EventBus.$on("SimComAlert", this.SimComAlert);
  },
};
</script>

<style></style>
