<template>
  <v-app>
    <!-- <AppBar> </AppBar> -->
    <!-- <SideNav></SideNav> -->
    <v-main>
      <router-view />
    </v-main>
    <!-- <Footer></Footer> -->
  </v-app>
</template>

<script>
// import AppBar from "@/layout/AppBar.vue";
// import SideNav from "@/layout/SideNav.vue";
// import Footer from "@/components/Footer.vue";
export default {
  name: "App",
  components: {
    // AppBar,
    // SideNav,
    // Footer,
  },

  data: () => ({
    //
  }),
};
</script>
<style></style>
