<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "AuthLayout",
  created() {
    this.checkToken();
  },
  methods: {
    checkToken() {
      const token = this.$cookies.get("token");
      console.log("This is Auth Layout");
      console.log(token);
      if (token) {
        this.$router.replace({ name: "home" });
      }
    },
  },
};
</script>

<style></style>
