<template>
  <div>
    <v-container>
      <div class="pa-16">
        <div class="d-flex justify-center align-content-center">
          <div class="cardbox">
            <v-card width="100%" height="100%" color="white">
              <v-row class="justify-center align-content-center">
                <v-col cols="12" class="pa-10">
                  <div class="d-flex justify-center align-content-center">
                    sign-up
                  </div>
                </v-col>
                <v-col cols="12" class="pa-10">
                  <div><v-icon>mdi-account</v-icon>username</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="username"
                      v-model="data.username"
                    ></v-text-field>
                  </div>
                  <div><v-icon>mdi-email</v-icon>email</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="email"
                      v-model="data.email"
                    ></v-text-field>
                  </div>
                  <div><v-icon>mdi-lock</v-icon> password</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="password"
                      v-model="data.password"
                    ></v-text-field>
                  </div>
                  <div><v-icon>mdi-lock</v-icon>confirm-password</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="confirm-password"
                      v-model="data.confirmpassword"
                    ></v-text-field>
                  </div>
                  <div class="d-flex justify-center align-content-center">
                    <v-btn block @click="letsignup(data)">sign-up</v-btn>
                  </div>
                  <div class="d-flex justify-center align-content-center mt-4">
                    <v-btn text @click="goSignIn()"
                      >already have an account ?</v-btn
                    >
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "SignupView",
  data() {
    return {
      rule: {},
      data: {
        username: "",
        email: "",
        password: "",
        confirmpassword: "",
      },
    };
  },
  methods: {
    async letsignup(data) {
      const { password, confirmpassword, username, email } = data;
      if (password !== confirmpassword) {
        alert("password not macth");
      }

      const payload = { username, password, email };

      try {
        const response = await this.axios.post(
          `http://localhost:3000/auth/register`,
          payload
        );

        if (response.data.status === 500 && response.data.success === false) {
          return alert(`Username already has used ${response.data.error}`);
        } else if (
          response.data.status === 201 &&
          response.data.success === true
        ) {
          return alert(`${response.data.message}`);
        } else {
          return alert(`Failed to register user ${response.data.error}`);
        }
      } catch (error) {
        console.log(error);
        alert(error);
      }
    },
    goSignIn() {
      console.log("lllls");
      this.$router.replace({ name: "signin" });
    },
  },
};
</script>

<style>
.cardbox {
  width: 650px;
  height: 650px;

  /* position: absolute;
  top: 20%; */
}
</style>
