<template>
  <div>
    <v-container>
      <div class="pa-16">
        <div class="d-flex justify-center align-content-center">
          <div class="cardbox">
            <v-card width="100%" height="100%" color="white">
              <v-row class="justify-center align-content-center">
                <v-col cols="12" class="pa-10">
                  <div class="d-flex justify-center align-content-center">
                    sign-in
                  </div>
                </v-col>
                <v-col cols="12" class="pa-10">
                  <div><v-icon>mdi-account</v-icon>username</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="username"
                      v-model="data.username"
                    ></v-text-field>
                  </div>
                  <div><v-icon>mdi-lock</v-icon> password</div>
                  <div class="d-flex justify-center align-content-center">
                    <v-text-field
                      solo
                      label="password"
                      v-model="data.password"
                    ></v-text-field>
                  </div>
                  <div class="d-flex justify-center align-content-center">
                    <v-btn block @click="letsignin(data)">sign-in</v-btn>
                  </div>
                  <div class="d-flex justify-center align-content-center mt-4">
                    <v-btn text @click="goSignUp()"
                      >not have an account ?</v-btn
                    >
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "SigninView",
  data() {
    return {
      rule: {},
      data: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    goSignUp() {
      console.log("lllls");
      this.$router.replace({ name: "signup" });
    },
    async letsignin(data) {
      console.log(this.data, data);

      const { username, password } = data;

      try {
        if (username === "" || password === "") {
          return alert("Blank value");
        }

        const response = await this.axios.post(
          `http://localhost:3000/auth/login`,
          data
        );

        console.log(">>" + response.data.token);
        if (
          response.data.status === 403 &&
          response.data.message === "Wait for approval"
        ) {
          return alert("Wait for approval");
        } else if (
          response.data.status === 404 &&
          response.data.message === "User not in system"
        ) {
          return alert("User not in system");
        } else if (response.data.status === 200 && response.data.token) {
          this.$cookies.set("token", response.data.token);
          console.log(this.$cookies.get("token"));
          console.log(response.data.role);
          this.$cookies.set("role", response.data.role);
          this.$router.replace({ name: "home" });
          return alert("Yayyy");
        } else {
          return alert("something went wrong");
        }
      } catch (error) {
        console.log(error);
        alert(error);
      }
    },
  },
};
</script>

<style></style>
