<template>
  <div>
    <v-app-bar app color="primary" permanent height="80">
      <div class="d-flex align-center">
        <!-- <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        /> -->
        <!-- <v-img
          alt="VVVV"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        /> -->
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "AppBar",
};
</script>

<style></style>
