<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      app
      color="primary"
      mini-variant
      mini-variant-width="80"
    >
      <v-avatar
        class="d-block text-center mx-auto mt-4 mb-16"
        color=""
        size="40"
      >
        <v-icon color="white" x-large>mdi-alpha-v-circle</v-icon>
      </v-avatar>

      <v-list flat class="mt-16">
        <v-list-item-group v-model="selectedItem">
          <v-list-item
            v-for="(item, i) in iconRoute"
            :key="i"
            active-class="border"
            :ripple="false"
          >
            <router-link
              :to="{ name: item.pathName }"
              style="text-decoration: none; color: inherit"
              active-class=""
            >
              <v-btn elevation="0" fab icon color="primary" dark>
                <v-icon color="white" size="32px">{{ item.icon }}</v-icon>
              </v-btn>
            </router-link>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <div
        style="
          position: absolute;
          bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
        "
      >
        <div v-if="checkRole()">
          <router-link
            :to="{ name: 'admin' }"
            style="text-decoration: none; color: inherit"
          >
            <v-btn elevation="0" fab icon color="primary" dark>
              <v-icon class="mb-5" color="white" size="32px"
                >mdi-shield-crown</v-icon
              >
            </v-btn>
          </router-link>
        </div>

        <router-link
          :to="{ name: 'setting' }"
          style="text-decoration: none; color: inherit"
        >
          <v-btn elevation="0" fab icon color="primary" dark>
            <v-icon class="mb-5" color="white" size="32px">mdi-cog</v-icon>
          </v-btn>
        </router-link>

        <br />
        <!-- <v-icon color="white">mdi-home</v-icon> -->
      </div>
    </v-navigation-drawer>
  </div>
</template>

<script>
import iconRoute from "./Icon";
export default {
  name: "DrawerView",
  data() {
    return {
      drawer: null,
      iconRoute,
      selectedItem: 3,
    };
  },
  mounted() {
    console.log(this.$cookies.get("role"));
    console.log(this.$cookies.get("role").includes("admin"));
  },
  methods: {
    checkRole() {
      if (this.$cookies.get("role").includes("admin")) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style>
.border {
  margin-left: 12px;
  margin-right: 12px;
  /* border-radius: 50%; */
  /* text-decoration: none; */
}
.v-list-item-group .v-list-item--active {
  color: white !important;
}
</style>
