<template>
  <div>
    <v-bottom-navigation
      fixed
      color="black"
      horizontal
      scroll-target="#scroll-threshold-example"
      scroll-threshold="500"
    >
      <span
        v-for="(item, index) in iconBotNav"
        :key="index"
        class="align-content-center justify-center"
      >
        <router-link
          :to="{ name: item.pathName }"
          style="text-decoration: none; color: inherit"
          active-class=""
        >
          <v-btn icon :ripple="false" id="no-background-hover">
            <v-icon size="32px">{{ item.icon }}</v-icon>
          </v-btn>
        </router-link>
      </span>

      <!-- <v-btn>
        <span>Favorites</span>

        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn>
        <v-icon>mdi-history</v-icon>
      </v-btn>
      <v-btn>
        <v-icon>mdi-history</v-icon>
      </v-btn> -->
    </v-bottom-navigation>

    <v-sheet
      id="scroll-threshold-example"
      class="overflow-y-auto pb-16"
      max-height="200"
    >
      <v-responsive height="200"></v-responsive>
    </v-sheet>
  </div>
</template>

<script>
import iconBotNav from "./IconBot";
export default {
  name: "NavBar",
  data() {
    return { iconBotNav };
  },
};
</script>

<style>
#no-background-hover::before {
  background-color: transparent !important;
}
</style>
