<template>
  <div>
    <v-navigation-drawer rail app color="primary" width="80px" permanent>
      <v-row>
        <v-col cols="12">
          <router-link
            :to="{ name: 'home' }"
            style="text-decoration: none; color: inherit"
          >
            <v-list>
              <v-list-item class="justify-center align-center"
                ><v-icon color="white" size="32px"
                  >mdi-alpha-v-circle</v-icon
                ></v-list-item
              >
            </v-list>
          </router-link>
        </v-col>
        <v-divider></v-divider>
      </v-row>

      <v-divider></v-divider>

      <v-list
        density="compact"
        nav
        v-for="(item, index) in iconRoute"
        :key="index"
      >
        <v-divider></v-divider>

        <router-link
          :to="{ name: item.pathName }"
          style="text-decoration: none; color: inherit"
          active-class=""
        >
          <v-list-item class="justify-center align-center"
            ><v-icon color="white" white size="32px">
              {{ item.icon }}
            </v-icon></v-list-item
          >
        </router-link>

        <v-divider></v-divider>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <!-- <v-row>
            <v-col cols="12">
              <router-link
                :to="{ name: 'home' }"
                style="text-decoration: none; color: inherit"
              >
                <v-list>
                  <v-list-item class="justify-center align-center"
                    ><v-icon color="white" size="32px"
                      >mdi-cog-outline</v-icon
                    ></v-list-item
                  >
                </v-list>
              </router-link>
            </v-col>
            <v-divider></v-divider>
          </v-row> -->
          <!-- <v-btn elevation="0" fab icon
            ><v-icon color="white" size="32px">mdi-cog-outline</v-icon></v-btn
          > -->
          <Popover />
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import iconRoute from "./Icon";
import Popover from "@/components/Popover.vue";
export default {
  name: "SideNav",
  data() {
    return { iconRoute };
  },
  components: { Popover },
  // data() {},
};
</script>

<style></style>
